/* pink: #FF0063;
sulfur-yelllow: #edff21;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #333;
  color: white;
  font-size: 12px;
}

@media screen and (min-width: 420px) {
  body {
    font-size: 16px;
  }
}

.samples-label {
  text-align: center;
}

.loop-controls, .oneshot-controls {
  display: flex;
  flex-wrap: wrap;
}

.loop-record, .loop-clear {
  font-size: 1.5rem;
}

.button {
  flex: 1;
  min-width: 50%;
  height: 15vw;
  max-height: 140px;
}

.one {
  background: #FF0063;
}

.two {
  background: #3A86FF;
}

.three {
  background: #833AEC;
}

.four {
  background: #F17105;
}

.effects {
  padding: 20px;
}
.effect-param {
  width: 100%;
  margin: 20px 0;
}

.row {
  display: block;
  border: 1px solid black;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.pad-state {
  display: none;
}

.pad {
  height: 5.9vw;
  width: 5.9vw;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  margin-left: 1px;
}

.row .pad:first-of-type {
  margin-left: 0;
}

.pad:hover {
  background-color: #ddd;
}

.pad-state:checked + .pad {
  background-color: #edff21;
}

.pad-state.current-step:checked + .pad {
  background-image: radial-gradient(
    white,
    #edff21
  );
}

.pad-state.current-step + .pad {
  background-image: radial-gradient(
    white,
    #333
  );
}

.controls {
  padding: 10px;
}

.start-stop {
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

.bpm-label {
  font-size: 1.2em;
}

.bpm-input {
  font-size: 1.2em;
  padding: 20px 5px;
  width: 70px;
  margin-left: 30px;
  background-color: transparent;
  color: white;
  text-align: center;
}

.loop-container {
  display: flex;
  align-items: center;
}

.drag-container {
  width: 50%;
  height: 50px;
  border: 2px solid #000;
}

.drag-and-drop.show {
  cursor: copy;
  border: 2px solid #aaa;
}

.loops-container {
  width: 100%;
}

.loop {
  height: 40px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
}

.loop-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.loop-name {
  flex: 1;
}

.loop-bpm {
  width: 40px;
  background-color: transparent;
  color: white;
  text-align: center;
}

.loop-length {
  font-size: 0.8em;
}

.loop-beatgrid-enabled, .loop-autostart {
  display: none;
}

.loop-play, .loop-stop {
  border: 2px solid white;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color: white;
  cursor: pointer;
  height: 100%;
  width: 50px;
}

.loop-beatgrid-enabled-button, .loop-autostart-button {
  border: 2px solid white;
  border-radius: 5px;
  display: inline-block;
  height: 100%;
  width: 70px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 33px;
  font-size: 0.8em;
}

@media screen and (min-width: 420px) {
  .loop-beatgrid-enabled-button, .loop-autostart-button {
    width: 100px;
  }
}

.loop-beatgrid-enabled:checked + .loop-beatgrid-enabled-button,
.loop-autostart:checked + .loop-autostart-button {
  background-color: #edff21;
  color: black;
}

.loop-info {
  display: inline-flex;
  height: 100%;
  width: 80px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px;
}

@media screen and (min-width: 420px) {
  .loop-info {
    width: 100px;
  }
}

.loop-bpm-label {
  padding-left: 3px;
  font-size: 0.8em;
}

.beatgrid-controls-button {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
}


.hidden {
  display: none;
}
